{% extends 'HomePage/base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block body_block %}
        
    {% load static %}
    

 <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fas fa-blog"></i> Edit blog post</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">{{user.first_name}}</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                        <!-- Start author-box -->
                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">Publishing Policy</h4>
                                <div class="row">

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                      
                                        <p>When you post a blog, your blog won’t be available for readers. <br>Prerequisites: Before you can an add a blog, you must ensure that:</p>
                                        <ul>
                                            <li>You have accepted the latest <a href="{% url 'HomePage:disclaimer_and_policy' %}">Delhi Shades Distribution Agreement.</a> </li>
                                            <li>Your blog has no errors that need to be addressed, such as image copyright questionnaire or provide details about your blog's target audience and content.</li>
                                            <li>The article must be original and have not been published elsewhere.</li>
                                            <li>The photos, content, and/or stuff you've collected from around the Internet, and/or scans from published books or leaflets. You are responsible for the image and its content.</li>
                                        </ul>
                                        <p><strong>Note:</strong>  For certain accounts, we’ll take more time to thoroughly review your blog to provide better content to readers. This may result in review times of up to 7 days or longer in exceptional cases. You’ll receive a notification on your blog's dashboard about how long this should take. </p>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box --><br>

                            <div class="row">
                                <div class="col-lg-12">
                                    {{error}}
                                    <form class="form-wrapper" method="POST" enctype="multipart/form-data">
                                        {{Error}}
                                        {%csrf_token%}
                                        {{form.as_p}}
                                        <button type="submit" class="btn btn-primary">Submit <i class="fa fa-envelope-open-o"></i></button>
                                        <script>
                                          var editor = new MediumEditor('.editable');
                                        </script>
                                    </form> 
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% if recent_data %}
                                        {% for posts in recent_data %}
                                        <a href="{% url 'HomePage:detail_blog' posts.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{posts.blog_photo_1.url}}" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">{{posts.blog_heading|slice:":35"|safe}}...</h5>
                                            <small>{{posts.blog_post_date}} by {{posts.user}}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% else %}
                                        <p>Data not found!</p>
                                        {% endif %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Advertising</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                    {% if right_advertisement %}
                                              {% for ad in right_advertisement %}
                                              {% if forloop.counter == 1 %}
                                              <a href="{{ad.ad_link}}"><img src="{{ad.ad_image.url}}" alt="" class="img-fluid"></a>
                                              {% endif %}
                                              {% endfor %}
                                              {% else %}
                                              <p>Data not found!</p>
                                              {% endif %}
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                    <li><a href="{% url 'HomePage:delhi_shades_list' %}">Delhi Shades <span>{{delhi_shades_count}}</span></a></li>
                                    <li><a href="#">Fashion <span>{{fashion_count}}</span></a></li>
                                    <li><a href="#">Food <span>{{food_count}}</span></a></li>
                                    <li><a href="#">Travel <span>{{travel_count}}</span></a></li>
                                    <li><a href="#">Health and Fitness <span>{{healthfitness_count}}</span></a></li>
                                    <li><a href="#">Shopping <span>{{shopping_count}}</span></a></li>
                                    <li><a href="#">Education <span>{{education_count}}</span></a></li>
                                    <li><a href="#">Social Responsibility <span>{{social_count}}</span></a></li>
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->


                            <div class="widget">
                                <h2 class="widget-title">Instagram Feed</h2>
                                <div class="instagram-wrapper clearfix">
                                    <a class="" href="#"><img src="{% static 'HomePage/upload/insta_01.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_02.jpeg'%}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_03.jpeg' %} " alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_04.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_05.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_06.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_07.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_08.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_09.jpeg' %}" alt="" class="img-fluid"></a>
                                </div><!-- end Instagram wrapper -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

 {% endblock %}