{% extends 'HomePage/base.html' %}
<!DOCTYPE html>
<html lang="en">

{% block body_block %}
        
    {% load static %}


  <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="far fa-newspaper"></i>Disclaimer and policy<small class="hidden-xs-down hidden-sm-down"></small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'HomePage:home' %}">Home</a></li>
                            <li class="breadcrumb-item">Blog</li>
                            <li class="breadcrumb-item active">policy</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- Start author-box -->
                            <div class="custombox authorbox clearfix">
                                <h4 class="small-title">Disclaimer and policy</h4>
                                <div class="row">

                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                           <h2>Copyright information</h2>
                                           <p><font size="2"><strong>Copyright © 2020 DelhiShades.com </font></strong></p>
                                            <p>All rights reserved. Nothing of this site can either be, partly or entirely, be copied or distributed without written prior consent from the author, who can be reached using the mail address mentioned above.</p>
                                            <h2>Terms of Service</h2>
                                            <p><font size="4"><strong>Welcome to Delhi Shades!</font></strong></p>
                                            <p>Delhi Shades builds services that enable readers to connect with each other, build communities and grow businesses. These Terms govern your use of Delhi Shades, services, that we offer (the DelhiShades.com), except where we expressly state that separate terms (and not these) apply. These services are provided to you by DelhiShades.com.</p>
                                            <p>We don't charge you to use DelhiShades or the other services covered by these Terms. Instead, businesses and organisations pay us to show you ads for their products and services. By using our Products, you agree that we can show you ads that we think will be relevant to you and your interests. We use your personal data to help determine which ads to show you.</p>
                                            <p>We don't sell your personal data to advertisers, and we don't share information that directly identifies you (such as your name, email address or other contact information) with advertisers unless you give us specific permission. Instead, advertisers can tell us things such as the kind of audience that they want to see their ads, and we show those ads to people who may be interested. We provide advertisers with reports about the performance of their ads that help them understand how people are interacting with their content. </p>

                                            <h2>User Generated Content Policy</h2>
                                            <p><font size="2"><strong> </font></strong></p>
                                            <p>User-generated content (UGC) is content that users contribute to a Delhi Shades, and which is visible to or accessible by other readers (users). Objectionable content is content that violates our policies.</p>
                                            <ul>
                                                <li>require that users accept the Delhi Shades terms of use and/or user policy before users can create a post or upload UGC;
                                                </li>
                                                <li>provide a user-friendly, in Delhi Shades website for reporting and removal of objectionable UGC</li>
                                                <li>remove or block abusive users who violate the Delhi Shades terms of use and/or user policy</li>
                                                <li>provide safeguards to prevent in Delhi Shades website monetization from encouraging objectionable user behavior</li>
                                            </ul>
                                            <p>User whose primary purpose is featuring objectionable UGC will be removed from DelhiShades.com. Similarly, apps that end up being used primarily for hosting objectionable UGC, or that develop a reputation among users of being a place where such content thrives, will also be removed from DelhiShades.com</p>

                                            <h2>Here are some examples of common violations:</h2>
                                            <ul>
                                                <li>Promoting sexually explicit user-generated content, including implementing paid features that principally encourage the sharing of objectionable content.</li>
                                                <li>User generated content (UGC) like threats, harassment, or bullying, particularly toward minors.</li>
                                                <li>Posts, comments, or photos within an post that are primarily intended to harass or single out another person for abuse, malicious attack, or ridicule.</li>
                                                <li>Posts continually fail to address user complaints about objectionable content.</li>
                                            </ul>

                                            <ul>
                                                <li><font size="4"><strong>Text</font></strong><br>
                                                    The text is written ourselves, based on the sources listed on below.
                                                </li>
                                                 <li><font size="4"><strong>Images and content</font></strong><br>
                                                   The content, images and photographs are either:
                                                </li>
                                                <li>uploaded by users of MonumentalTrees.com, who - by the process of uploading - gave their permission to use the photographs on DelhiShades (see Uploaded images policy)</li>
                                                <li>taken from the internet and used appropriately according to their license</li>
                                            </ul>
                                            <p>
                                                The name of the photographer or source is always mentioned in the vicinity of the image or photograph.
                                                Unless otherwise stated by the license on the image's page, the image is copyrighted by the original photographer and cannot be used by anyone in any way. The only exception to this is DelhiShades.com, which has the right to use the image on the domain DelhiShades.com, always providing the photographer's name in the vicinity of the displayed image.
                                            </p>
                                            <h2>Uploaded images policy</h2>
                                            <p>
                                                <font size="2"><strong>DelhiShades.com</strong></font> will use the digital versions of your photographs for display on the site, and when it does so, it will always accompanied with your name as photographer (mentioned on the same page). The copyright license you provided when uploading the image (or edited afterwards) is shown on the image page of the photograph. That image page can be reached by clicking on the photograph.<br><br>
                                                <font size="2"><strong>DelhiShades.com</strong></font> will not allow the use of your photographs on other websites, unless the license you explicitly provided allows this.
                                                On the other hand <font size="2"><strong>DelhiShades.com</strong></font> might allow the use of one or more of the uploaded pictures to be used in printed published work (such as magazines) for a fee when we are contacted to do so.<br><br> When the content of the article in which the photo would be published is assessed as appropriate (tree related and of sufficient quality) <font size="2"><strong>DelhiShades.com</strong></font> might agree with the use of some or more of the uploaded pictures.<br><br> This helps paying for the recurring hosting and other costs the website faces and helps keeping the site up and running for the years to come. By uploading photos, you indicate you agree with this.<br><br>
                                                By uploading photos, you indicate you agree to the "Uploaded images policy" and following policy:<br><br>
                                            </p>
                                            <ul>
                                                <li>
                                                    <font size="4"><strong>Don't upload anything that isn't yours.</font></strong><br>This includes other people's photos, and/or stuff you've collected from around the Internet, and/or scans from published books or leaflets. You are responsible for the image and its content. Accounts that consist of such collections may be terminated at any time and having their content removed.
                                                </li>
                                                <li>
                                                    <font size="4"><strong>Only upload relevant images</font></strong><br>These are - of course - photos of trees, groups of trees, or landmarks (such as a manor, statue, ...) in the vicinity of a registered tree.
                                                </li>
                                                <li>
                                                    <font size="4"><strong>Don't upload content that is illegal or prohibited.</font></strong><br>If we find you doing that, your account will be deleted and we'll take appropriate action, which may include reporting you to the authorities.
                                                </li>
                                                <li>
                                                    <font size="4"><strong>Don't use your account to host web graphics like logos and banners.</font></strong><br>Your account will be terminated if we find you using it to host graphic elements of web page designs, icons, smilies, buddy icons, forum avatars, badges, and other non-photographic elements on external web sites.
                                                </li>
                                                <li>
                                                    <font size="4"><strong>Don't use DelhiShades.com for commercial purposes.</font></strong><br>If you use your account primarily as an advertisement for your or another's business, your account may be disabled and your content removed.
                                                </li>
                                            </ul>
                                            <p>The policy related to uploaded images will be stated on this page and could be changed or expanded, if the need would arise.</p>

                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end author-box --><br>
                

                        <hr class="invis">
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% if recent_data %}
                                        {% for posts in recent_data %}
                                        <a href="{% url 'HomePage:detail_blog' posts.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{posts.blog_photo_1.url}}" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">{{posts.blog_heading|slice:":35"|safe}}...</h5>
                                            <small>{{posts.blog_post_date}} by {{posts.user}}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% else %}
                                        <p>Data not found!</p>
                                        {% endif %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Advertising</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'HomePage/upload/banner_03.jpg' %} " alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                    <li><a href="{% url 'HomePage:delhi_shades_list' %}">Delhi Shades <span>{{delhi_shades_count}}</span></a></li>
                                    <li><a href="#">Lifestyle <span>{{fashion_count}}</span></a></li>
                                    <li><a href="#">Art & Design <span>{{food_count}}</span></a></li>
                                    <li><a href="#">Health Beauty <span>{{travel_count}}</span></a></li>
                                    <li><a href="#">Clothing <span>{{healthfitness_count}}</span></a></li>
                                    <li><a href="#">Entertaintment <span>{{shopping_count}}</span></a></li>
                                    <li><a href="#">Food & Drink <span>{{education_count}}</span></a></li>
                                    <li><a href="#">Food & Drink <span>{{social_count}}</span></a></li>
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->


                            <div class="widget">
                                <h2 class="widget-title">Instagram Feed</h2>
                                <div class="instagram-wrapper clearfix">
                                    <a class="" href="#"><img src="{% static 'HomePage/upload/insta_01.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_02.jpeg'%}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_03.jpeg' %} " alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_04.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_05.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_06.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_07.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_08.jpeg' %}" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="{% static 'HomePage/upload/insta_09.jpeg' %}" alt="" class="img-fluid"></a>
                                </div><!-- end Instagram wrapper -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



 {% endblock %}